<!--<div class="white frame margin-top">
  <div class="title-section" layout-padding>
    <h4>ATTACHMENTS PROCESSED WITH CDR</h4>
  </div>
  <div class="content-holder" layout="column">
    <div layout="row">
      <small flex="30">CDR (Content Disarm and Reconstruction means that a secure version of the file is created and the
        email
        is received seamlessly to the end user.
      </small>
    </div>
    <div layout="column">
      <div layout="flex" flex-offset="40" flex="50">
        <div layout="column" layout-align="start center" flex="33">
          <h4>Don't Process</h4>
          <small>Not recommended</small>
        </div>
        <div layout="column" layout-align="start center" flex="33">
          <h4>Don't Process</h4>
          <small>Not recommended</small>
        </div>
        <div layout="column" layout-align="start center" flex="33">
          <h4>Don't Process</h4>
          <small>Not recommended</small>
        </div>
      </div>
    </div>
    <div layout="row">
      <div layout="column" layout-align="start start" flex="40">
        <h4>Documents</h4>
        <small>.doc, .docx, .pdf, .pages, .gdoc</small>
      </div>
      <div flex="55" layout-align="center center" style="background-color: red">
        <md-slider [max]="100" style="width: 100%"
                   [min]="0"
                   [step]="50"
                   [tick-interval]="2"
                   [value]="0"
                   [vertical]="vertical"
                   color="primary">
        </md-slider>
      </div>

    </div>
  </div>
</div>-->

<table>
  <thead>
  <th></th>
  <th layout-align="center" >Don't Process
    <small>Not recommended</small>
  </th>
  <th layout-align="center" >
    High
    <small>Active content NOT removed</small>
  </th>
  <th >Highest
    <small>Active content removed</small>
  </th>
  </thead>
  <tbody>
  <tr>
    <td>documents</td>
    <td colspan="3">
      <md-slider [max]="100" style="width: 100%"
                 [min]="0"
                 [step]="50"
                 [tick-interval]="2"
                 [value]="0"
                 [vertical]="vertical"
                 color="primary">
      </md-slider>
    </td>
  </tr>
  </tbody>

</table>
