<div class="white frame">
  <div class="title-section" layout-padding>
    <h4>GENERAL</h4>
  </div>
  <div class="content-holder">
    <div layout="row" class="inner-section">
      <div flex="40">
        <h4 class="item">Antivirus</h4>
        <small>Anti-malware & anti-virus solutions detecting "known threats".</small>
      </div>
      <md-slide-toggle flex="30" [(ngModel)]="generalSettings.UseAntiviruses" aria-label="antivrus"
                       color="primary"></md-slide-toggle>

    </div>
    <div layout="row" class="inner-section">
      <div flex="40">
        <h4 class="item">Safe Links</h4>
        <small> this includes links in the body of an email and in any documents attached.</small>
      </div>
      <div layout="row" flex>
        <div layout="column">
          <md-slide-toggle  [(ngModel)]="generalSettings.HandleLinks" aria-label="antivrus"
                            color="primary"></md-slide-toggle>

          <md-radio-group *ngIf=" generalSettings.HandleLinks" [(ngModel)]="generalSettings.linksOperation"
                          class="operation-actions" layout="column">

            <md-radio-button value="fixLinks" color="primary"><span
              [ngClass]="{'bold':  generalSettings.linksOperation =='fixLinks' }">Fix Links </span>to be what it is
              supposed to be.
            </md-radio-button>
            <md-radio-button value="testLinks" color="primary"><span
              [ngClass]="{'bold':  generalSettings.linksOperation =='testLinks' }">Test links </span> via reputation
              engine i.e google, mcafee
            </md-radio-button>
            <md-radio-button value="killLinks" color="primary"><span
              [ngClass]="{'bold':  generalSettings.linksOperation =='killLinks' }">Kill links </span>so that only
              the
              text is displayed
            </md-radio-button>
          </md-radio-group>

        </div>
        <small *ngIf="! generalSettings.HandleLinks">The safe links is turned off. Since it's been turned off, {{
          numberOfMaliciousLinks}}
          malicious links were detected.We highly recommend turning it on for your safety.
        </small>
      </div>
    </div>
    <a class="cta" (click)="restoreDefaultGeneralSettings()">Restore default settings</a>

  </div>
</div>
