<div class="white frame margin-top">
  <div class="title-section" layout-padding>
    <h4 class="sob-title">ATTACHMENTS PROCESSED WITH CDR</h4>
  </div>

  <div class="content-holder">
    <p style="width: 35%;font-size: 12px">CDR (Content Disarm and Reconstruction) means that a secure version of the
      file is created and the email is received seamlessly to the end user.</p>
    <table>
      <thead>
      <th></th>
      <th class="text-center">High<br>
        <small>Active content &<br> macros NOT removed</small>
      </th>
      <th class="text-center">Highest<br>
        <small>Active content &<br> macros removed</small>
      </th>
      </thead>
      <tbody>
      <tr>
        <td layout="column" class="sob-table-security-td">
          <p>Applied to documents, spreadsheets, images
            and presentations</p>
        </td>

        <td colspan="2" style="width: 100%">
          <md-slider [(ngModel)]="cdrSettings.Documents"
                     [max]="1"
                     style="width: 100%"
                     [min]="0"
                     [step]="1"
                     [value]="0"
                     [vertical]="vertical"
                     color="accent">
          </md-slider>
        </td>

      </tr>
      </tbody>
    </table>



    <a class="link-btn" role="button" layout-margin (click)="restoreDefaultCdr()">Restore default settings</a>

  </div>
</div>


<style>

  .disabled-action {
    color: #CCCCCC !important;
    pointer-events: none;
  }
</style>
