<div layout="row">
  <div flex="80" class="white frame" layout-align="center center" layout-margin>
    <form layout-margin #query="ngForm" layout="column" flex="50" class="search-form" layout-padding>
      <md-input-container>
        <input mdInput placeholder="Ticket ID" value="Ticket Id" [(ngModel)]="query.TicketId" name="ticketId"
               type="number">
      </md-input-container>
      <md-input-container>
        <input mdInput placeholder="Recipient" value="Recipient" [(ngModel)]="query.Recipient" name="recipient"
               type="email">
      </md-input-container>
      <md-input-container>
        <input mdInput placeholder="Sender" value="Sender" [(ngModel)]="query.Sender" name="sender" type="email">
      </md-input-container>
      <md-input-container>
        <input mdInput placeholder="Keywords" value="Keywords" [(ngModel)]="query.KeyWords" name="keyword"
               type="text">
      </md-input-container>
      <div layout="row">
        <ng2-datepicker [options]="options" [(ngModel)]="query.StartTime" name="startDate"></ng2-datepicker>
        <ng2-datepicker [options]="options" [(ngModel)]="query.EndTime" name="endDate"></ng2-datepicker>
      </div>
      <select class="form-control" id="filter" style="margin-top: 1em">
        <option *ngFor="let filter of filters" [value]="filter">{{filter}}</option>
      </select>
    </form>
    <button md-button class="btn-action" (click)="searchMails()">Search</button>
  </div>
</div>
<div class="white frame" *ngIf="!isEmailEmpty">
  <td-data-table
    [data]="emails"
    [columns]="columns"
    [selectable]="false"
    [multiple]="false"
    [sortable]="false">
  </td-data-table>

  <td-paging-bar #pagingBar [pageSizes]="[5, 10, 15, 20]" [total]="totalNumberOfMails" (change)="page($event)">
    <span td-paging-bar-label hide-xs>Row per page:</span>
    {{pagingBar.range}} <span hide-xs>of {{pagingBar.total}}</span>
  </td-paging-bar>
</div>

