<div layout="column" *ngIf="!dataIsLoading">
  <div layout="row" flex="100" style="margin-top: 3em;">
    <button class="btn btn-neutral-yellow-hvr" (click)='newDptQuery(true)'>+ Add Department</button>
  </div>
  <div flex="85" flex-gt-lg="85" fxFlex.lt-md="100" layout="row" layout-margin>

    <existing-exceptions flex="30" [noSettingsExist] = "noSettingsExist" [exceptionsList]="exceptionsList" [currentSettings]="settings"
                         (onSelect)="selectDepartment($event)"></existing-exceptions>
    <div flex>
      <div *ngIf="!noSettingsExist && !newDepartment">
        <exception-settings flex="60"
                            [settings]="settings"
                            (onSave)='postNewSettings($event)' (onDelete)='deletePolicy($event)'>
        </exception-settings>
      </div>
      <div *ngIf="newDepartment">
        <new-exception (onCancel)="cancelCreation($event)" (onSave)="postNewSettings($event)"></new-exception>
      </div>
      <p *ngIf="!newDepartment && noSettingsExist">No setting currently exist</p>
    </div>
  </div>


</div>

<div layout="column" layout-align="center center" *ngIf="dataIsLoading" style="min-height: 80vh">
  <md-spinner></md-spinner>
</div>
