<div class="white frame " style="height: 400px">
  <div layout="column" class="p-3">
    <div layout="row" id="top-section" layout-align="space-between center">
      <div layout="column" flex="60">
        <p class="bold light-gray">{{title}}</p>
        <p>Top End Users</p>
      </div>
      <div layout="row">
        <button class="btn btn-primary">Recipients</button>
        <button class="btn btn-primary">Senders</button>
      </div>
    </div>
    <div id="emails" layout="column" layout-align="start center"
         style="overflow: auto;  height: 310px" layout-margin>
      <md-list>
        <md-list-item *ngFor='let user of users'>
          <p md-line class="bold-dark-gray">{{user.name}}</p>
          <p [style.color]="scoreColor" class="bold mb-0">{{user.score}}</p>
        </md-list-item>
      </md-list>
    </div>
  </div>
</div>
