<div layout="row" flex="100" layout-align="space-between start" class="ml-0 mr-0 graph-selector-line">
  <div flex="50" (click)="changeTheCurrentLine($event, 'totals.totalCleanReplicaByCdr')"
       class="white frame graph-selector-box mr-3">
    <div layout="row" layout-align="end start" flex="100">
      <div id="triangle-blue"></div>
    </div>
    <div style="height: 67%" layout="row" layout-align="space-between center" class="pl-3 pr-3">
      <p class="graph-selector-title" flex="50">Clean <br>Replica by CDR</p>
      <!--<div flex="50" layout="column">
        <p class="total-top">{{totals.totalCleanReplicaByCdr}}</p>
        <p class="selector-totals">
          {{totals.totalCleanReplicaByCdr | getPercentage : totals.TotalAttachmentProcessed}}
          <span class="percentage">%</span></p>
      </div>-->
      <div id="coming-soon" flex="50" layout="column" layout-align="center center">
        <p>Coming Soon</p>
      </div>
    </div>
  </div>
  <div flex="50" (click)="changeTheCurrentLine($event, 'totals.attachmentOk')" class="white frame graph-selector-box  "
       layout-align="space-between center">
    <div layout="row" layout-align="end start" flex="100">
      <div id="triangle-green">
      </div>
    </div>
    <div style="height: 67%" layout="row" class="pl-3 pr-3">
      <p class="graph-selector-title" flex="50">Original Attachment OK</p>
      <!--<div flex="50" layout="column">
        <p class="total-top">{{totals.totalPassedOk}}</p>
        <p class="selector-totals">
          {{totals.totalPassedOk | getPercentage : totals.TotalAttachmentProcessed}}
          <span class="percentage">%</span></p>
      </div>-->
      <div id="coming-soon" flex="50" layout="column" layout-align="center center">
        <p>Coming Soon</p>
      </div>
    </div>
  </div>
</div>

<div layout="row" flex="100" layout-align="space-between start" class="ml-0 mr-0 mt-3 graph-selector-line">
  <div flex="50" (click)="changeTheCurrentLine($event, 'totals.blockedByCDR')"
       class="white frame graph-selector-box mr-3" layout-align="space-between center">
    <div layout="row" layout-align="end start" flex="100">
      <div id="triangle-yellow"></div>
    </div>
    <div style="height: 67%" layout="row" class="pl-3 pr-3">
      <p class="graph-selector-title" flex="50">Attachment Blocked by Policy</p>
      <!--<div flex="50" layout="column">
        <p class="total-top">{{totals.BlockedByPolicy}}</p>
        <p class="selector-totals">
          {{totals.BlockedByPolicy | getPercentage : totals.TotalAttachmentProcessed}}
          <span class="percentage">%</span></p>
      </div>-->
      <div id="coming-soon" flex="50" layout="column" layout-align="center center">
        <p>Coming Soon</p>
      </div>
    </div>
  </div>
  <div flex="50" (click)="changeTheCurrentLine($event, 'totals.attachmentBlockedByAntivirus')"
       class="white frame graph-selector-box" layout-align="space-between center">
    <div layout="row" layout-align="end start" flex="100">
      <div id="triangle-orange"></div>
    </div>
    <div style="height: 67%" layout="row" class="pl-3 pr-3">
      <p class="graph-selector-title" flex="50">Attachment Blocked by Antivirus</p>
      <!--<div flex="50" layout="column">
        <p class="total-top">{{totals.TotalBlockedByAntivirus}}</p>
        <p class="selector-totals">
          {{totals.TotalBlockedByAntivirus | getPercentage : totals.TotalAttachmentProcessed}}
          <span class="percentage">%</span></p>
      </div>-->
      <div id="coming-soon" flex="50" layout="column" layout-align="center center">
        <p>Coming Soon</p>
      </div>
    </div>
  </div>
</div>

<style>
  #triangle-blue {
    width: 0;
    height: 0;
    border-top: 20px solid #A5CDED;
    border-left: 20px solid transparent;
  }

  #triangle-green {
    width: 0;
    height: 0;
    border-top: 20px solid #A4DCD2;
    border-left: 20px solid transparent;
  }

  #triangle-yellow {
    width: 0;
    height: 0;
    border-top: 20px solid #F7D399;
    border-left: 20px solid transparent;
  }

  #triangle-orange {
    width: 0;
    height: 0;
    border-top: 20px solid #F5AF91;
    border-left: 20px solid transparent;
  }


</style>
