<div class="mt-5 mb-5 white frame" layout="column" layout-margin>
  <div class="news-header">
    <h4 class="section-title">
      FROM OUR BLOG
    </h4>
  </div>
  <div layout="row" layout-align="space-between start" layout-margin>
    <div *ngFor="let feed of feeds" layout-padding layout="column">
      <div style="width: 70%">
        <p class="feed-title">{{feed.webTitle}}</p>
        <p class="mt-3 subtitle">Posted: {{feed.webPublicationDate | date: 'longDate'}}</p>
        <p style="font-size: 13px">{{feed.fields.trailText}}</p>
        <a href="{{feed.webUrl}}" target="_blank" class="link-btn" role="button">Read Full Article</a>
      </div>
    </div>
  </div>
</div>

<style>
  .feed-title {
    font-size: 20px !important;
    color: #666666;
  }


  .subtitle {
    color: #999999 !important;
  }
  .news-header{
    border-bottom: solid 1px lightsteelblue;
  }
  .section-title{
    color: #666666;
    font-weight: 600;
    padding: 1em;
  }
</style>
