<div class="white frame hvr-glow mr-3 p-3" style="height: 400px">
  <div layout="column" style="height: 100%">
    <p class="bold light-gray">Clean Replica Delivered by CDR</p>
    <p>Top Attachment Type</p>
    <div id="graph-holder" style="height: 100%; ">
      <ngx-charts-pie-chart
        [scheme]="colorScheme"
        [results]="pieData"
        [legend]="true"
        [explodeSlices]="explodeSlices"
        [labels]="showLabels"
        [doughnut]="true"
        [gradient]="true"
        [arcWidth]="0.2">
      </ngx-charts-pie-chart>
    </div>
  </div>
</div>
