<div class="white-frame mr-3">
  <div layout="column">
    <p class="bold light-gray">Clean Replica Delivered by CDR</p>
    <p>Top Attachment Type</p>
    <div id="graph-holder">
     <!-- <ngx-charts-pie-chart
        [scheme]="colorScheme"
        [results]="single"
        [legend]="true"
        [explodeSlices]="explodeSlices"
        [labels]="showLabels"
        [doughnut]="true"
        [gradient]="true"
        [arcWidth]="0.1">
      </ngx-charts-pie-chart>-->
    </div>
  </div>
</div>
