<div class="row mb-5">
  <div class="col-6">
    <div class="col-12 white frame p-5">
      <div class="row vertical-align">
        <h4 class="col-6 bold-dark-gray">Total Emails Processed</h4>
        <h1 class="col-3 bold-dark-gray">{{totals.TotalEmailsProcessed}}</h1>
      </div>
    </div>
  </div>

  <div class="col-6">
    <div class="col-12 white frame p-5">
      <div class="row vertical-align">
        <h4 class="col-6 bold-dark-gray">Total URLs Processed</h4>
        <h1 class="col-3 bold-dark-gray">{{totals.TotalUrls}}</h1>
      </div>
    </div>
  </div>
</div>
<div class="col-12 white frame p-5 ">
  <div class="row  vertical-align justify-content-center">
    <h4 class="mr-3 bold-dark-gray">Total Attachments Processed</h4>
    <h1 class="ml-3 bold-dark-gray underlined-purple">{{totals.TotalAttachmentProcessed}}</h1>
  </div>
</div>


