<div class="container col-12">
  <div id="company" class="white frame col mb-2">
    <div class="section-title row justify-content-between">
      <h5 class="pt-3 pb-3 textBold col-8">PLAN</h5>
      <div class="col-4  align-self-center row justify-content-end">
        <button class="btn btn-action">Update My Plan</button>
        <button class="btn btn-action">Cancel Plan</button>
      </div>
    </div>
    <div class="pt-3 pb-3">
      <div class="row mb-3">
        <p class="textBold-gray col-3">Name</p>
        <p class="textBold col-3">ReSecSMB</p>
      </div>
      <div class="row mb-3">
        <p class="textBold-gray col-3">Fee</p>
        <p class="textBold col-3">$1.99/user/Month</p>
      </div>
      <div class="row">
        <p class="textBold-gray col-3">Users</p>
        <div class="col-3">
          <md-select placeholder="Number of Users" floatPlaceholder="never">
            <md-option *ngFor="let user of users" [value]="user">
              {{ user }}
            </md-option>
          </md-select>
        </div>
      </div>
    </div>
  </div>


  <div id="billingDetails" class="white frame col mb-2">
    <div class="section-title">
      <h5 class="pt-3 pb-3 textBold">BILLING DETAILS</h5>
    </div>
    <div class="pt-3 pb-3">
      <div class="form-group row">
        <label for="name" class="textBold-gray col-3 col-form-label">Company Name</label>
        <div class="col-5">
          <input class="form-control" type="text" [(ngModel)]="billing.name" id="name">
        </div>
      </div>
      <div class="form-group row">
        <label for="number" class="textBold-gray col-3 col-form-label">Company Number</label>
        <div class="col-5">
          <input class="form-control" type="number" [(ngModel)]="billing.number" id="number">
        </div>
      </div>
      <div class="form-group row">
        <label for="address" class="textBold-gray col-3 col-form-label">Billing Address</label>
        <div class="col-5">
          <input class="form-control" type="text" [(ngModel)]="billing.address" id="address">
        </div>
      </div>
      <div class="form-group row">
        <label for="ccNumber" class="textBold-gray col-3 col-form-label">Payment</label>
        <div class="col-3">
          <input class="form-control" type="number" [(ngModel)]="billing.ccNumber" id="ccNumber">
        </div>
        <div class="col-2">
          <input class="form-control" type="Month" [(ngModel)]="billing.ccExp" id="address">
        </div>
      </div>
    </div>
  </div>


  <div class="row justify-content-center mt-5">
    <button class="btn btn-action">APPLY</button>
  </div>
</div>
