<div class="col-12 bg-white-shadow">
  <div class="container pt-5 mt-5 mb-5 text-center">
    <button class="btn btn-primary" [ngClass]="{'btn-primary-active': query.Stage === 'Failed'}"
            (click)="filterBy('Failed')">Blocked Emails
    </button>
    <button class="btn btn-primary" [ngClass]="{'btn-primary-active': query.Stage === 'ContentRemoved'}"
            (click)="filterBy('ContentRemoved')">Emails Blocked with Attachments
    </button>

  </div>
  <div class="mt-5 text-center" *ngIf="!isEmailEmpty">
    <p class="text-center m-5"><strong>{{totalNumberOfMails}} Results </strong></p>
    <td-data-table
      #dataTable
      [data]="emails"
      [columns]="columns"
      [sortable]="true"
      [selectable]="false"
      [sortBy]="query.sortField"
      [sortOrder]="query.sortOrder"
      (sortChange)="sort($event)"
      (rowSelect)="selectMail($event)"
      (selectAll)="selectAllMails($event)">
    </td-data-table>
    <div class="md-padding" *ngIf="!dataTable.hasData" layout="row" layout-align="center center">
      <h3>No results to display.</h3>
    </div>
    <td-paging-bar #pagingBar [pageSizes]="[5, 10, 15, 20]" [total]="totalNumberOfMails" (change)="page($event)">
      <span td-paging-bar-label hide-xs>Row per page:</span>
      {{pagingBar.range}} <span hide-xs>of {{pagingBar.total}}</span>
    </td-paging-bar>
  </div>
</div>
