<div class="col-12 ">

  <div id="company" class="white frame col mb-2">
    <div class="section-title">
      <p class="pt-4 pb-4 section-header">COMPANY</p>
    </div>
    <div class="pt-4 pb-3">
      <div class="row mb-4">
        <p class="textBold-gray col-3">Company Name</p>
        <p class="textBold col-3">ReSec</p>
      </div>
      <div class="row mb-4">
        <p class="textBold-gray col-3">Domain</p>
        <p class="textBold col-3">resec.co</p>
      </div>
      <div class="row mb-4">
        <p class="textBold-gray col-3">MX Record</p>
        <p class="textBold col-3">SECUREMAIL.RE-SEC.COM</p>
        <button class="btn btn-neutral-yellow-hvr" type="button" (click)="sendTestEmail()">Send Test Email</button>
        <small *ngIf="testEmailSent">Test email sent, please wait 1-2 min for confirmation.</small>
      </div>
    </div>
  </div>

  <div id="accountOwner" class="white frame col mb-2">
    <div class="section-title">
      <p class="pt-4 pb-4 section-header">ACCOUNT OWNER</p>
    </div>
    <div class="pt-4 pb-3 mt-3">
      <div class="row mb-4">
        <p class="textBold-gray col-3">Name</p>
        <input class="col-3 sob-input " [(ngModel)]="settings.name" type="text">
      </div>
      <div class="row  mb-4">
        <p class="textBold-gray col-3">Email</p>
        <input class="col-3 sob-input " type="email" [(ngModel)]="settings.email">
      </div>
      <div class="row  mb-4">
        <p class="textBold-gray col-3">Phone</p>
        <input class="col-3 sob-input " type="number" [(ngModel)]="settings.phone">
      </div>
      <div class="row  mb-4">
        <p class="textBold-gray col-3">Password</p>
        <input class="col-3 sob-input " type="password" [(ngModel)]="settings.password">
        <button type="button" class="btn btn-link" (click)="openChangePassword()">change</button>
      </div>

        <label class="checkbox-inline">
          <input type="checkbox" [(ngModel)]="isAdmin">I am the administrator</label>

    </div>
  </div>

  <div *ngIf="!isAdmin" id="isNotAdmin" class="white frame col mb-2">
    <div class="section-title">
      <p class="pt-3 pb-3 section-header">ADMINISTRATOR</p>
    </div>
    <div class="pt-4 pb-5 mt-3 mb-5">
      <div class="row mb-4">
        <p class="textBold-gray col-3">Name</p>
        <input class="col-3 sob-input" [(ngModel)]="admin.name" type="text">
      </div>
      <div class="row  mb-4">
        <p class="textBold-gray col-3">Email</p>
        <input class="col-3 sob-input" type="email" [(ngModel)]="admin.email">
      </div>
      <div class="row  pb-5">
        <p class="textBold-gray col-3">Phone</p>
        <input class="col-3 sob-input" type="number" [(ngModel)]="admin.phone">
      </div>
    </div>
  </div>

  <div class="row justify-content-center mt-5 pt-4">
    <button class="btn btn-action-yellow-big hvr-glow">APPLY</button>
  </div>

</div>
