<div layout="column" layout-margin flex="40" flex-md="90" flex-sm="90" flex-xs="95">

  <div class="white-card" md-whiteframe="7" layout-margin>
    <div layout-padding>
      <h4>COMPANY</h4>
      <div layout-margin>
        <md-input-container style="width: 90%">
          <label>Company Name</label>
          <input mdInput [(ngModel)]="AccountGeneralSettings.Company.CompanyName">
        </md-input-container>
        <md-input-container style="width: 90%">
          <label>Domain</label>
          <input mdInput [(ngModel)]="AccountGeneralSettings.Company.CompanyDomain">
        </md-input-container>
        <md-input-container style="width: 90%">
          <label>MX Record</label>
          <input mdInput [(ngModel)]="AccountGeneralSettings.Company.CompanyMxRecord">
        </md-input-container>
      </div>
    </div>
  </div>

  <div class="white-card" md-whiteframe="7" layout-margin>
    <div layout-padding>
      <h4>ADMINISTRATOR</h4>
      <div layout-margin>
        <md-input-container style="width: 90%">
          <label>Name</label>
          <input mdInput [(ngModel)]="AccountGeneralSettings.Admin.AdministratorName">
        </md-input-container>
        <md-input-container style="width: 90%">
          <label>Email</label>
          <input mdInput [(ngModel)]="AccountGeneralSettings.Admin.AdministratorEmail">
        </md-input-container>
        <md-input-container style="width: 90%">
          <label>Phone</label>
          <input mdInput [(ngModel)]="AccountGeneralSettings.Admin.AdministratorPhone">
        </md-input-container>
        <md-input-container style="width: 90%">
          <label>Password</label>
          <input mdInput type="password" [(ngModel)]="AccountGeneralSettings.Admin.AdministratorPassword">
        </md-input-container>
      </div>
    </div>
  </div>


</div>
<button md-button class="md-raised md-primary" (click)="SaveSettings()">Save</button>
