@import '/node_modules/@covalent/core/common/platform.css';


#sidenav-toggler{
  margin-left: 1em;
  background-color: whitesmoke;
}
md-sidenav{
  background-color: #0C0E47;
  width: 240px;
}
li{
  display: list-item;
  text-align: left;
}
li > a {
  box-sizing: border-box;
  display: block;
  font-size: 14px;
  font-weight: 700;
  line-height: 47px;
  text-decoration: none;
  -webkit-transition: all .3s;
  transition: all .3s;
  padding: 0 16px;
  position: relative;
  color: white;
}
li:hover{
  background-color: #342B62;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.active{
  background-color: #342B62;
  box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
  transition: box-shadow 280ms cubic-bezier(.4,0,.2,1);
  will-change: box-shadow;
  display: block;
  position: relative;
}
