<!-- nesting level: 2 entry inside the app -->

<md-sidenav-container style="height: 100vh">
  <md-sidenav #sidenav opened="true" mode="side" fxHide.lt-md="true">

    <md-icon svgSrc="resecLogo.svg" fill="white"></md-icon>
    <nav>

      <ul>
        <li><a routerLink="/user/dashboard" routerLinkActive="active">Dashboard</a></li>
        <li><a routerLink="/user/emails" routerLinkActive="active">Processed Mails</a></li>
        <li><a routerLink="/user/security" routerLinkActive="active">Security Settings</a></li>
        <li><a routerLink="/user/account" routerLinkActive="active">Account Settings</a></li>
      </ul>

    </nav>
  </md-sidenav>
  <div layout-fill style="background-color: #F7F8F8">

    <nav class="navbar sticky-top bg-white-shadow">
      <div class="container-fluid row">
        <div class="nav navbar-nav mr-auto  justify-content-center">

          <button md-mini-fab (click)="sidenav.toggle()">
            <i class="fa fa-bars" title="Align Center"></i>
          </button>
        </div>
        <div class="nav navbar-nav ml-auto  justify-content-center">

          <button id="sidenav-toggler"  md-mini-fab (click)="logout()">
            <i class="fa fa-sign-out" style="color: #0C0E47" title="Align Center"></i>
          </button>
        </div>
      </div>
    </nav>
    <div style="margin: 2em; ">
      <router-outlet></router-outlet>
    </div>
  </div>
</md-sidenav-container>


<style>
  #top-bar {
    padding: 1em;
    background-color: white;

  }

  #top-bar > p {
    margin: 0px;
    font-weight: 600;
    /* Rectangle: */
    color: #333;
  }
</style>
