<!-- nesting level: 2 entry inside the app -->

<md-sidenav-container style="height: 100vh">
  <md-sidenav #sidenav opened="true" mode="side" fxHide.lt-md="true">

    <md-icon svgSrc="resecLogo.svg" fill="white"></md-icon>
    <nav>
      <ul>
        <li><a routerLink="/user/dashboard" routerLinkActive="active">Dashboard</a></li>
        <li><a routerLink="/user/emails" routerLinkActive="active">Processed Mails</a></li>
        <li><a routerLink="/user/security" routerLinkActive="active">Security Settings</a></li>
        <li><a routerLink="/user/account" routerLinkActive="active">Account Settings</a></li>
      </ul>
    </nav>
  </md-sidenav>
  <div layout-fill>
    <div layout="row" layout-align="space-between center" id="top-bar" class="frame">
      <button id="sidenav-toggler" md-mini-fab (click)="sidenav.toggle()">
        <md-icon>menu</md-icon>
      </button>
      <button md-button md-mini-fab (click)="logout()">
        <md-icon>exit_to_app</md-icon>
      </button>
    </div>
    <div style="margin: 2em; background-color: #F7F8F8">
      <router-outlet></router-outlet>
    </div>
  </div>
</md-sidenav-container>


<style>
  #top-bar {
    padding: 1em;
    background-color: white;

  }

  #top-bar > p {
    margin: 0px;
    font-weight: 600;
    /* Rectangle: */
    color: #333;
  }
</style>
