<!-- nesting level: 2 entry inside the app -->

<md-sidenav-container style="height: 100vh">
  <md-sidenav #sidenav opened="true" mode="side" style="width: auto !important">

    <md-icon svgSrc="resecLogo.svg" fill="white"></md-icon>
    <nav>

      <ul>
        <li mdTooltip="Dashboard" mdTooltipPosition="right" class="text-center pt-3 pb-3 mb-3"
            routerLink="/user/dashboard" routerLinkActive="active">
          <md-icon class="center-icon" svgIcon="dashboard"></md-icon>
        </li>
        <li mdTooltip="Mails" mdTooltipPosition="right" class="text-center pt-3 pb-3 mb-3" routerLink="/user/emails"
            routerLinkActive="active">
          <md-icon class="center-icon" svgIcon="mails"></md-icon>
        </li>
        <li mdTooltip="Security" mdTooltipPosition="right" class="text-center pt-3 pb-3 mb-3"
            routerLink="/user/security" routerLinkActive="active">
          <md-icon class="center-icon" svgIcon="security"></md-icon>
        </li>
        <li mdTooltip="Account Settings" mdTooltipPosition="right" class="text-center pt-3 pb-3 mb-3"
            routerLink="/user/account" routerLinkActive="active">
          <md-icon class="center-icon" svgIcon="settings"></md-icon>
        </li>
      </ul>

    </nav>
  </md-sidenav>
  <div layout-fill style="background-color: #F7F8F8">

    <nav class="navbar sticky-top bg-white-shadow">
      <div class="container-fluid row">
        <div class="nav navbar-nav mr-auto  justify-content-center">
          <!-- nav here -->
          <div layout="row">
            <a class="sob-page-link"  routerLink="account/notifications" routerLinkActive="page-active">Notifications</a>
            <a class="sob-page-link"  routerLink="account/account" routerLinkActive="page-active">Account</a>
            <a class="sob-page-link"  routerLink="account/billing" routerLinkActive="page-active">Billing</a>
          </div>
        </div>
        <div class="nav navbar-nav ml-auto  justify-content-center">
          <button id="sidenav-toggler" md-mini-fab (click)="logout()">
            <i class="fa fa-sign-out" style="color: #0C0E47" title="Align Center"></i>
          </button>
        </div>
      </div>
    </nav>
    <div style="margin: 2em; ">
      <router-outlet></router-outlet>
    </div>
  </div>
</md-sidenav-container>

