<div class="col-12">
  <div class="row justify-content-end mb-5 mt-5">
    <button class="btn btn-transparent hvr-glow" (click)="changeTimeFrame(7)">Last 7 Days</button>
    <button class="btn btn-transparent hvr-glow"  (click)="changeTimeFrame(30)">Last 30 Days</button>
    <button class="btn btn-transparent hvr-glow"  (click)="changeTimeFrame(90)">Last 90 Days</button>
  </div>
  <div *ngIf="dataHasLoaded">
    <app-dashboard-top-totals [totals]="totals" (onTotalSelected) = 'showAllGraphs($event)'></app-dashboard-top-totals>
    <div>
      <div class="graph-container ml-0 mr-0" layout="row" layout-md="column" layout-sm="column" layout-margin
           layout-align="space-between start">
        <div flex class="ml-0 mt-0 mr-0" style="height: 229px">
          <app-dashboard-graph-selector [totals]="totals"
                                        (onGraphChanged)="selectedGraphChanged($event)">
          </app-dashboard-graph-selector>
        </div>
        <div class="mr-0 mt-0 ml-3 white frame">
          <app-dashboard-graph [graphData]='graphData' [graphColor]="graphColor"></app-dashboard-graph>
        </div>
      </div>
    </div>
    <div class="ml-0 mr-0" layout="row" layout-align="space-between start" layout-margin>
      <app-dashboard-pie-charts [pieData]='pieData' [colorScheme]='colorScheme' flex="50"
                                [title]='pieChartTitle'></app-dashboard-pie-charts>
      <app-email-section flex [figureColor]='figureColor' [users]='randomUsers'
                         [title]='pieChartTitle'
                         [emailScoreColor]='emailScoreColor'></app-email-section>
    </div>
    <app-dashboard-news-feed [feeds]="feeds"></app-dashboard-news-feed>
  </div>
</div>


