
<div layout="column">
  <md-list *ngIf="!noSettingsExist" class="pt-0" id="exception-list">
    <md-list-item *ngFor="let exception of exceptionsList | DictionaryIteratorPipe" class="dpt-list"
                  (click)="selectDepartment(exception.PolicyName)"
                  [ngClass]="{'selectedPolicy': isCurrentPolicy(exception.PolicyName)}">
      <p class="dpt-name fs-13" md-line>{{exception.PolicyName}}</p>
      <p md-line class="fs-13 dpt-users">{{exception.PolicyId}} users</p>
    </md-list-item>
  </md-list>
</div>

<style>


  .dpt-list:hover {
    background-color: white;
  }
  #exception-list{
    width: 325px !important;
  }
  .dpt-name{
    color: #666666 !important;
  }
  .dpt-users{
    color: #999999 !important;
  }


</style>
