
<div layout="column">
  <md-list *ngIf="!noSettingsExist" class="pt-0">
    <md-list-item *ngFor="let exception of exceptionsList | DictionaryIteratorPipe" class="dpt-list"
                  (click)="selectDepartment(exception.PolicyName)"
                  [ngClass]="{'selectedPolicy': isCurrentPolicy(exception.PolicyName)}">
      <p class="dpt-name" md-line>{{exception.PolicyName}}</p>
      <p md-line>{{exception.PolicyId}} users</p>
    </md-list-item>
  </md-list>
</div>

<style>


  .dpt-list:hover {
    background-color: white;
  }

</style>
