<div layout="column" class="white frame">
  <div layout="flex" layout-align="space-between center" layout-margin>
    <p flex="30">Department Name</p>
    <input class="bs-input" flex="40" placeholder="Pick a name" [(ngModel)] ="settings.PolicyName"/>
    <a (click)="cancelCreation(false)" class="cta">Cancel </a>
  </div>
  <div layout="row" layout-align="space-between end"  layout-margin>
    <p flex="30">Department Users</p>
    <tag-input [(ngModel)]='settings.Exceptions' [maxItems]='100' flex></tag-input>
  </div>
</div>
<div class="white frame margin-top">
  <div class="title-section" layout-padding>
    <h4>ATTACHMENTS PROCESSED WITH CDR</h4>
  </div>

  <div class="content-holder">

    <table>
      <thead>
      <th></th>
      <th layout-align="center">
        Don't Process<br>
        <small>Not recommended</small>
      </th>
      <th layout-align="center">
        High<br>
        <small>Active content NOT removed</small>
      </th>
      <th>Highest<br>
        <small>Active content removed</small>
      </th>
      </thead>
      <tbody>
      <tr>
        <td layout="column" class="table-row">
          <p>Documents</p>
          <small>.doc, .docx, .pdf, .pages, .gdoc</small>
        </td>
        <td colspan="3">
          <md-slider [(ngModel)]="settings.AttachementsProcessedLevels.Documents"
                     [max]="2"
                     style="width: 100%"
                     [min]="0"
                     [step]="1"
                     [value]="0"
                     [vertical]="vertical"
                     color="primary">
          </md-slider>
        </td>
      </tr>
      <tr>
        <td layout="column" class="table-row">
          <p>Spreadsheets</p>
          <small>.csv, .xls, .xlsx, .gsheet</small>
        </td>
        <td colspan="3">
          <md-slider [(ngModel)]="settings.AttachementsProcessedLevels.Spreadsheets"
                     [max]="2"
                     style="width: 100%"
                     [min]="0"
                     [step]="1"
                     [value]="0"
                     [vertical]="vertical"
                     color="primary">
          </md-slider>
        </td>
      </tr>
      <tr>
        <td layout="column" class="table-row">
          <p>Images</p>
          <small>.png, .jpg, .jpeg, .gif</small>
        </td>
        <td colspan="3">
          <md-slider [(ngModel)]="settings.AttachementsProcessedLevels.Images"
                     [max]="2"
                     style="width: 100%"
                     [min]="0"
                     [step]="1"
                     [value]="0"
                     [vertical]="vertical"
                     color="primary">
          </md-slider>
        </td>
      </tr>
      </tbody>

    </table>
    <a class="cta" layout-margin (click)="restoreDefaultCdr()" >Restore default settings</a>

  </div>
</div>

<div class="white frame margin-top">
  <div class="title-section" layout-padding>
    <h4>ATTACHMENTS PROCESSED WITHOUT CDR</h4>
  </div>

  <div class="content-holder">
    <table>
      <thead>
      <th></th>
      <th style="width: 35%;">Allow</th>
      <th style="width: 38%; ">Block</th>
      </thead>
      <tbody>
      <tr>
        <td layout="column" class="table-row">
          <p>Videos/Sounds</p>
          <small>.mp4, .mp3</small>
        </td>
        <td colspan="3">
          <md-slider [(ngModel)]="settings.AttachementsWithoutCdr['Video/Sound']"
                     [max]="1"
                     style="width: 100%"
                     [min]="0"
                     [step]="1"
                     [value]="0"
                     [vertical]="vertical"
                     color="primary">
          </md-slider>
        </td>
      </tr>
      <tr>
        <td layout="column" class="table-row">
          <p>Applications / Scripts</p>
          <small>.dmg, .exe</small>
        </td>
        <td colspan="3">
          <md-slider [(ngModel)]="settings.AttachementsWithoutCdr['Applications/Scripts']"
                     [max]="1"
                     style="width: 100%"
                     [min]="0"
                     [step]="1"
                     [value]="0"
                     [vertical]="vertical"
                     color="primary">
          </md-slider>
        </td>
      </tr>
      <tr>
        <td class="table-row">
          <p>Unrecognized Files</p>
        </td>
        <td colspan="3">
          <md-slider [(ngModel)]="settings.AttachementsWithoutCdr['Unrecognized Files']"
                     [max]="1"
                     style="width: 100%"
                     [min]="0"
                     [step]="1"
                     [value]="0"
                     [vertical]="vertical"
                     color="primary">
          </md-slider>
        </td>
      </tr>
      </tbody>

    </table>
    <a class="cta" layout-margin (click)="restoreDefaultNoCdr()">Restore default settings</a>
  </div>

</div>
<div layout="row" layout-align="center center" style="margin-top: 3em;">
  <button md-raised-button color="primary" (click)="saveSettings(settings)">SAVE</button>
</div>



